## Summary Statistics

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
Path = "C:/Users/doosti/OneDrive - Chapman University/Research/Research Projects/Fitness/Data/"
print(Path)

C:/Users/doosti/OneDrive - Chapman University/From_Dropbox/Research/Research Projects/Fitness/Data/

In [6]:
# load data
channels = pd.read_csv(Path+'channel_trends_to_stata_performance_v3.csv')
print(channels.head())

            creator_id        date  views  engagements  uploads  followers  \
0  262h9yTG1f03Nobo501  2020-09-15    325           19        0       23.0
1  262h9yTG1f03Nobo501  2020-09-16    288           14        0       24.0
2  262h9yTG1f03Nobo501  2020-09-17    268           19        0       23.0
3  262h9yTG1f03Nobo501  2020-09-18    255           18        0       24.0
4  262h9yTG1f03Nobo501  2020-09-19    257           13        0       23.0

   avg_challenge publish_date  challenge_dummy  total_views  ...  \
0            NaN          NaN                0     22309517  ...
1            NaN          NaN                0     22309517  ...
2            NaN          NaN                0     22309517  ...
3            NaN          NaN                0     22309517  ...
4            NaN          NaN                0     22309517  ...

   challenge_duration  prev_challenge  next_challenge  start_challenge  \
0                   0             0.0             0.0            False
1                   0             0.0             0.0            False
2                   0             0.0             0.0            False
3                   0             0.0             0.0            False
4                   0             0.0             0.0            False

   end_challenge  challenge_id  start_date  end_date duration  post_challenge
0          False             0         NaN       NaN      NaN               0
1          False             0         NaN       NaN      NaN               0
2          False             0         NaN       NaN      NaN               0
3          False             0         NaN       NaN      NaN               0
4          False             0         NaN       NaN      NaN               0

[5 rows x 44 columns]

In [9]:
# Summary statistics
print(channels.shape)
# prevent scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(channels.describe())

(84522, 44)
            views  engagements   uploads  followers  avg_challenge  \
count   84522.000    84522.000 84522.000  84522.000      16277.000
mean    28904.602      602.462     0.344    201.626          0.117
std     99208.543     2003.885     1.254   1843.865          0.276
min         0.000        0.000     0.000      0.000          0.000
25%       954.000       24.000     0.000      0.000          0.000
50%      3856.000       89.000     0.000      0.000          0.000
75%     14342.750      333.000     0.000     10.000          0.000
max   7304216.000   186843.000    28.000 100000.000          1.000

       challenge_dummy    total_views  views_per_upload  total_engagements  \
count        84522.000      84522.000         84522.000          84522.000
mean             0.025   51971944.205        103730.203         970446.445
std              0.158  165773654.010        255087.786        2425654.399
min              0.000     185040.000           631.536           5109.000
25%              0.000    2329066.000         10709.152          58124.000
50%              0.000   16063242.000         28562.843         340651.000
75%              0.000   35438293.000         74703.809         861873.000
max              1.000 1381594342.000       1892594.989       18871172.000

       engagements_per_upload  ...  days_since_first_upload  cum_uploads  \
count               84522.000  ...                84522.000    84522.000
mean                 2021.567  ...                 2148.122      215.687
std                  4160.869  ...                 1231.668      744.403
min                    38.708  ...                 -676.000        0.000
25%                   266.166  ...                 1111.000       22.000
50%                   668.403  ...                 2142.000       72.000
75%                  1530.815  ...                 3160.000      157.000
max                 25850.921  ...                 5391.000     7562.000

       cum_followers  cum_challenges  challenge_duration  prev_challenge  \
count      84522.000       84522.000           84522.000       84522.000
mean      112057.661          15.495               1.072           0.025
std       343286.115          27.144               9.225           0.158
min            0.000           0.000               0.000           0.000
25%         4000.000           0.000               0.000           0.000
50%        18000.000           0.000               0.000           0.000
75%        68600.000          22.000               0.000           0.000
max      3900000.000         195.000             195.000           1.000

       next_challenge  challenge_id  duration  post_challenge
count       84522.000     84522.000 39105.000       84522.000
mean            0.025       308.976     3.040           0.024
std             0.158       169.860     5.558           0.152
min             0.000         0.000     1.000           0.000
25%             0.000       140.000     1.000           0.000
50%             0.000       371.000     1.000           0.000
75%             0.000       446.000     2.000           0.000
max             1.000       542.000    32.000           1.000

[8 rows x 26 columns]

In [12]:
# views per followers
channels['views_per_follower'] = channels['views'] / channels['total_followers']
channels.views_per_follower.describe()

count   84522.000
mean        0.071
std         0.276
min         0.000
25%         0.019
50%         0.039
75%         0.066
max        29.334
Name: views_per_follower, dtype: float64

In [15]:
# Channel Comments
comments = pd.read_csv(Path+"channel_day_010324.csv")
print(comments.head())

            creator_id        date  none  Appearance  Competence  Enjoyment  \
0  262h9yTG1f03Nobo501  2020-11-05 0.000       0.000       0.000      0.000
1  262h9yTG1f03Nobo501  2020-11-11 0.000       0.000       0.000      0.000
2  262h9yTG1f03Nobo501  2020-11-12 0.000       0.000       0.000      0.000
3  262h9yTG1f03Nobo501  2020-11-13 0.000       0.000       0.000      1.000
4  262h9yTG1f03Nobo501  2020-11-14 0.000       0.000       0.000      1.000

   Fitness  Social  other
0    0.000   0.000  1.000
1    0.000   0.000 28.000
2    0.000   0.000 46.000
3    0.000   0.000 41.000
4    1.000   0.000 44.000

In [17]:
print(comments.shape)
print(comments.describe())

(48673, 9)
           none  Appearance  Competence  Enjoyment   Fitness    Social  \
count 48673.000   48673.000   48673.000  48673.000 48673.000 48673.000
mean      0.002       0.004       0.012      0.130     0.082     0.003
std       0.046       0.068       0.127      0.727     0.408     0.067
min       0.000       0.000       0.000      0.000     0.000     0.000
25%       0.000       0.000       0.000      0.000     0.000     0.000
50%       0.000       0.000       0.000      0.000     0.000     0.000
75%       0.000       0.000       0.000      0.000     0.000     0.000
max       2.000       3.000       8.000     47.000    19.000     7.000

          other
count 48673.000
mean     16.395
std      61.745
min       0.000
25%       2.000
50%       5.000
75%      14.000
max    3226.000

In [24]:
channels.merge(comments, on=['creator_id', 'date'], how='left').iloc[:,-5:].fillna(0).describe()

       Competence  Enjoyment   Fitness    Social     other
count   84522.000  84522.000 84522.000 84522.000 84522.000
mean        0.007      0.077     0.050     0.002     9.901
std         0.098      0.561     0.328     0.051    48.454
min         0.000      0.000     0.000     0.000     0.000
25%         0.000      0.000     0.000     0.000     0.000
50%         0.000      0.000     0.000     0.000     1.000
75%         0.000      0.000     0.000     0.000     7.000
max         8.000     47.000    19.000     7.000  3226.000

In [31]:
# load raw comments
raw_comments = pd.read_csv(Path+"labeled_comments_scores_030124.csv")
print(raw_comments.shape)
print(raw_comments.head())

(827552, 16)
      video_id                   user_id  \
0  YxySUy2jU_s  UCLqs5JoktNvfrQZimZ8Gl5g
1  YxySUy2jU_s  UCLqs5JoktNvfrQZimZ8Gl5g
2  YxySUy2jU_s  UCLMqrKUz0vnpsM0haZmHmQA
3  YxySUy2jU_s  UCASrUw6lnbPK4p5plkVFtqw
4  YxySUy2jU_s  UCspkSCEGRikNmsoRGJwG1MQ

                                        comment_text  no_likes  no_replies  \
0  I loved doing this video with my dad I think i...     8.000       0.000
1             bre is very good at yoga same with Flo    10.000       0.000
2  Of course I can add 15 more minutes to round o...     7.000       0.000
3  Thanks for helping round out my routine, was q...     5.000       0.000
4          First thing tomorrow morning! Thank you 🙏     2.000       0.000

   comment_year  comment_month  comment_day  Appearance  Enjoyment  Fitness  \
0          2021              4           13       0.000      0.000    0.000
1          2021              4           13       0.000      0.000    0.000
2          2021              4           13       0.000      0.000    0.000
3          2021              4           13       0.000      0.000    0.000
4          2021              4           13       0.000      0.000    0.000

   Competence  Social  max_score  label        date
0       0.000   0.000      0.000  other  2021-04-13
1       0.000   0.000      0.000  other  2021-04-13
2       0.000   0.000      0.000  other  2021-04-13
3       0.000   0.000      0.000  other  2021-04-13
4       0.000   0.000      0.000  other  2021-04-13

In [32]:
videos = pd.read_csv(os.path.join(Path, "videos_101223.csv"))
raw_comments['creator_id'] = raw_comments.merge(videos,how='left',on='video_id').creator_id.values
raw_comments = raw_comments.dropna(subset=['creator_id'])
print(raw_comments.isnull().sum())

video_id         0
user_id          0
comment_text     0
no_likes         0
no_replies       0
comment_year     0
comment_month    0
comment_day      0
Appearance       0
Enjoyment        0
Fitness          0
Competence       0
Social           0
max_score        0
label            0
date             0
creator_id       0
dtype: int64

In [34]:
# table 3 (panel b) total comments
comments_channel = raw_comments.fillna(0).groupby(['creator_id','date']).label.count().fillna(0).reset_index()
channels.merge(comments_channel, on=['creator_id', 'date'], how='left').fillna(0).label.describe()

count   84522.000
mean       10.041
std        49.156
min         0.000
25%         0.000
50%         1.000
75%         7.000
max      3262.000
Name: label, dtype: float64

In [38]:
# table 3 (panel c) individual users
users = raw_comments.user_id.unique()
dates = channels.date.unique()
# create a long-formatted panel dataframe for user id and time periods
user_panel = pd.DataFrame({'user_id': np.repeat(users,len(dates)), 'date': np.tile(dates,len(users))})
# merge with raw comments
groupbed_comments = raw_comments.groupby(['user_id','date']).label.count().fillna(0).reset_index()
user_panel = user_panel.merge(groupbed_comments, on=['user_id','date'], how='left').label.fillna(0)
print(user_panel.head())
print(user_panel.describe())

0   0.000
1   0.000
2   0.000
3   0.000
4   0.000
Name: label, dtype: float64
count   360341505.000
mean            0.002
std             0.050
min             0.000
25%             0.000
50%             0.000
75%             0.000
max            52.000
Name: label, dtype: float64